.header {
  background-color: black;
  padding: 20px;
  width: 100%;
  height: 30px;
}
.children__content {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
